openapi: 3.0.1
info:
  description: Specification for the realCity Query Server API.
  title: realCity Query Server API
  version: 1.0.1
servers:
- description: BKK FUTÁR
  url: https://futar.bkk.hu/api/query/v1/ws
security:
- ApiKeyQuery: []
paths:
  /{dialect}/api/where/alert-search:
    get:
      operationId: searchAlerts
      parameters:
      - description: "A keresési feltétel, amit a zavar fejlécével, leírásával, vagy\
          \ azonosítójával illesztünk."
        example: BKK_bkkinfo-75694
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: A keresés időintervallumának eleje epoch másodpercben.
        example: 1625695260
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: A keresési időintervallum vége epoch másodpercben.
        example: 1625695260
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: A visszaadott elemek minimális száma.
        example: 5
        explode: true
        in: query
        name: minResult
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSearchMethodResponse'
          description: "Visszatér a `query` paraméterben megadott keresési feltételnek\
            \ megfelelő zavarokkal, amik aktívak a megadott időintervallumnban."
      x-accepts:
      - application/json
  /{dialect}/api/where/arrivals-and-departures-for-location:
    get:
      operationId: getArrivalsAndDeparturesForLocation
      parameters:
      - description: Menetrendi adatok maximális száma egy csoportban.
        example: 2
        explode: true
        in: query
        name: groupLimit
        required: false
        schema:
          default: 4
          format: int32
          type: integer
        style: form
      - description: A kliens hosszúsági koordinátája.
        example: 19.049086
        explode: true
        in: query
        name: clientLon
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: A kliens szélességi koordinátája.
        example: 47.47375
        explode: true
        in: query
        name: clientLat
        required: false
        schema:
          default: 0
          format: double
          type: number
        style: form
      - description: A lekérdezési időablak a `time` paraméter előtt ennyi perccel
          indul.
        example: 2
        explode: true
        in: query
        name: minutesBefore
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      - description: A lekérdezési időablak a `time` paraméter után ennyi perccel
          ér véget.
        example: 30
        explode: true
        in: query
        name: minutesAfter
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
      - description: "A megállók azonosítóinak listája, amelyekhez a lekérést végezzü\
          k."
        example: "BKK_F01029,BKK_F01029"
        explode: true
        in: query
        name: stopId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A válasz szűrésére használt járatok azonosítóinak listája.
        example: "BKK_VP06,BKK_0090"
        explode: true
        in: query
        name: includeRouteId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten
          az aktuális szerveridő.
        example: 1625740980
        explode: true
        in: query
        name: time
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Ha igaz akkor csak az érkezési (és előrejelzett érkezési) idők
          nem szerepelnek a válaszban.
        example: false
        explode: true
        in: query
        name: onlyDepartures
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: A visszaadott indulási és érkezési idők listájának maximális
          hossza.
        example: 60
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 60
          format: int32
          type: integer
        style: form
      - description: A helyszín középpontjának szélessgéi koordinátája.
        example: 47.4973131430789
        explode: true
        in: query
        name: lat
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: A helyszín középpontjának hosszúsági koordinátája.
        example: 19.064639534671457
        explode: true
        in: query
        name: lon
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat\
          \ +/- latspan`)."
        example: 0.013365429598373169
        explode: true
        in: query
        name: latSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon\
          \ +/- lonSpan`)."
        example: 0.032126676908724505
        explode: true
        in: query
        name: lonSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési\
          \ terület a középpontól számított `radius` méter távolság mind a négy irá\
          nyban."
        example: 100
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: A válasz szűrésére használt keresési kifejezés.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: A visszaadott elemek minimális száma.
        example: 5
        explode: true
        in: query
        name: minResult
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalsAndDeparturesForLocationOTPMethodResponse'
          description: Visszaadja egy területhez tartozó érkezési és indulási időket
            járatazonosítók és célállomások szerint csoportosítva.
      x-accepts:
      - application/json
  /{dialect}/api/where/arrivals-and-departures-for-stop:
    get:
      operationId: getArrivalsAndDeparturesForStop
      parameters:
      - description: A lekérdezési időablak a `time` paraméter előtt ennyi perccel
          indul.
        example: 2
        explode: true
        in: query
        name: minutesBefore
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      - description: A lekérdezési időablak a `time` paraméter után ennyi perccel
          ér véget.
        example: 30
        explode: true
        in: query
        name: minutesAfter
        required: false
        schema:
          default: 30
          format: int32
          type: integer
        style: form
      - description: "A megállók azonosítóinak listája, amelyekhez a lekérést végezzü\
          k."
        example: "BKK_F01029,BKK_F01029"
        explode: true
        in: query
        name: stopId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A válasz szűrésére használt járatok azonosítóinak listája.
        example: "BKK_VP06,BKK_0090"
        explode: true
        in: query
        name: includeRouteId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten
          az aktuális szerveridő.
        example: 1625740980
        explode: true
        in: query
        name: time
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Ha igaz akkor csak az érkezési (és előrejelzett érkezési) idők
          nem szerepelnek a válaszban.
        example: false
        explode: true
        in: query
        name: onlyDepartures
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: A visszaadott indulási és érkezési idők listájának maximális
          hossza.
        example: 60
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 60
          format: int32
          type: integer
        style: form
      - description: A helyszín középpontjának szélessgéi koordinátája.
        example: 47.4973131430789
        explode: true
        in: query
        name: lat
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: A helyszín középpontjának hosszúsági koordinátája.
        example: 19.064639534671457
        explode: true
        in: query
        name: lon
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat\
          \ +/- latspan`)."
        example: 0.013365429598373169
        explode: true
        in: query
        name: latSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon\
          \ +/- lonSpan`)."
        example: 0.032126676908724505
        explode: true
        in: query
        name: lonSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési\
          \ terület a középpontól számított `radius` méter távolság mind a négy irá\
          nyban."
        example: 100
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: A válasz szűrésére használt keresési kifejezés.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: A visszaadott elemek minimális száma.
        example: 5
        explode: true
        in: query
        name: minResult
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalsAndDeparturesForStopOTPMethodResponse'
          description: Lekéri a megállóhoz tartozó érkezési és indulási időket.
      x-accepts:
      - application/json
  /{dialect}/api/where/bicycle-rental:
    get:
      operationId: getBicycleRentalStations
      parameters:
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BicycleRentalMethodResponse'
          description: Visszatér az összes kerékpárkölcsönző állomással.
      x-accepts:
      - application/json
  /{dialect}/api/where/booking-redirect:
    get:
      operationId: bookingRedirect
      parameters:
      - description: A járat azonosítója.
        example: BKK_0650
        explode: true
        in: query
        name: routeId
        required: false
        schema:
          type: string
        style: form
      - description: A járat íránya.
        example: 1
        explode: true
        in: query
        name: directionId
        required: false
        schema:
          type: string
        style: form
      - description: A menet azonosítója.
        example: BKK_ADF5443
        explode: true
        in: query
        name: tripId
        required: false
        schema:
          type: string
        style: form
      - description: A menet üzem napja.
        example: 20220130
        explode: true
        in: query
        name: serviceDate
        required: false
        schema:
          type: string
        style: form
      - description: A felszállási megálló azonosítója.
        example: BKK_064215
        explode: true
        in: query
        name: boardStopId
        required: false
        schema:
          type: string
        style: form
      - description: A leszállási megálló azonosítója.
        example: BKK_064215
        explode: true
        in: query
        name: alightStopId
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      responses:
        "302":
          description: Átírányit a foglalási oldalra.
      x-accepts:
      - application/json
  /{dialect}/api/where/metadata:
    get:
      operationId: getMetadata
      parameters:
      - description: A lekérés kiértékelésének időpontja epoch másodpercben (az aktív
          zavarok lekéréséhez szükséges).A szerver ideje az alapértelmezett értéke.
        example: 1625666578
        explode: true
        in: query
        name: time
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
          description: A szerver metaadataival tér vissza.
      x-accepts:
      - application/json
  /{dialect}/api/where/multi-route-details:
    get:
      operationId: getMultiRouteDetails
      parameters:
      - description: A lekért járatok azonosítói.
        example: "BKK_3040,BKK_3060"
        explode: true
        in: query
        name: routeId
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Az aktív zavarok lekéréséhez használt dátum. Alapértelmezett
          értéke az aktuális nap.
        example: 20210707
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: "Ha igaz, akkor az útvonalhoz tartozó kapcsolódó útvonalak is\
          \ szerepelnek a válaszban."
        example: false
        explode: true
        in: query
        name: related
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiRouteDetailsMethodResponse'
          description: Az összes járatot visszaadja a megadott azonosítókhoz.
        "400":
          description: A `date` paramétert nem sikerült beolvasni.
        "404":
          description: Ismeretlen járat azonosító.
      x-accepts:
      - application/json
  /{dialect}/api/where/onboard-depart-search:
    post:
      operationId: searchForOnboardDepartVehicles
      parameters:
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/OnboardDepartPosition'
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardDepartSearchMethodResponse'
          description: Visszatér az utas útvonalára illeszkedő járművekkel.
      x-content-type: application/json
      x-accepts:
      - application/json
  /{dialect}/api/where/plan-trip:
    get:
      operationId: planTrip
      parameters:
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      - description: "A dátum, amikor a tervezés indul (`arriveBy` esetén érkezik)."
        example: 2021-07-09
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: "Az idő, amikor a tervezés indul (`arriveBy` esetén érkezik)."
        example: 695
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      - description: "Az indulási hely adatai `név::hely` formában. A `név` az adott\
          \ hely tetszőleges neve, amely az útiterv kiindulási pontjának lesz a neve\
          \ (`leg.from.name`). A `hely` lehet koordináta `lat,lon` formában, vagy\
          \ a geocoder API által visszaadott `vertex` azonosítója."
        example: "BKK Központi Ügyfélszolgálat::47.4985022,19.0551266"
        explode: true
        in: query
        name: fromPlace
        required: true
        schema:
          type: string
        style: form
      - description: "Az érkezési hely adatai `név::hely` formában. A `név` az adott\
          \ hely tetszőleges neve, amely az útiterv érkezési pontjának lesz a neve\
          \ (`leg.to.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a\
          \ geocoder API által visszaadott `vertex` azonosítója."
        example: Mechwart liget::BKK:CSF00195
        explode: true
        in: query
        name: toPlace
        required: true
        schema:
          type: string
        style: form
      - description: "A tervező milyen közlekedési módokat használjon. A kerékpár\
          \ kölcsönzés a `BICYCLE,WALK` paraméterekkel kapcsolható be."
        example: "TRANSIT,WALK"
        explode: false
        in: query
        name: mode
        required: true
        schema:
          items:
            $ref: '#/components/schemas/TraverseMode'
          type: array
        style: form
      - description: Az első járműre szállás előtt történjen-e jegyvásárlás.
        example: true
        explode: true
        in: query
        name: shouldBuyTickets
        required: false
        schema:
          type: boolean
        style: form
      - description: A válasz tartalmazza-e a járatok által érintett köztes megállókat
          is.
        example: true
        explode: true
        in: query
        name: showIntermediateStops
        required: false
        schema:
          type: boolean
        style: form
      - description: Érkezési időre tervezzünk-e a megadott `date` és `time` paraméterrel.
        example: true
        explode: true
        in: query
        name: arriveBy
        required: false
        schema:
          type: boolean
        style: form
      - description: Az összes járat alacsonypadlós legyen-e.
        example: false
        explode: true
        in: query
        name: wheelchair
        required: false
        schema:
          type: boolean
        style: form
      - description: "Kerékpáros háromszög módú tervezés esetén mennyire számít a\
          \ biztonság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor\
          \ összegével."
        example: 0.5
        explode: true
        in: query
        name: triangleSafetyFactor
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "Kerékpáros háromszög módú tervezés esetén mennyire számít az\
          \ útvonal síksága. 0 és 1 közötti szám, és 1-et kell kiadnia a másik ké\
          t faktor összegével."
        example: 0.0
        explode: true
        in: query
        name: triangleSlopeFactor
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "Kerékpáros háromszög módú tervezés esetén mennyire számít a\
          \ gyorsaság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor\
          \ összegével."
        example: 0.5
        explode: true
        in: query
        name: triangleTimeFactor
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: A kereső mire optimalizálja az útvonalakat.
        example: BEST
        explode: true
        in: query
        name: optimize
        required: false
        schema:
          default: BEST
          enum:
          - BEST
          - WALK
          - TRANSFERS
          type: string
        style: form
      - description: A séta sebességét meghatározó profil.
        example: MID
        explode: true
        in: query
        name: walkProfile
        required: false
        schema:
          $ref: '#/components/schemas/WalkProfile'
        style: form
      - description: Legfeljebb hány útvonal szerepeljen a válaszban.
        example: 5
        explode: true
        in: query
        name: numItineraries
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTripResponse'
          description: A megadott paraméterekkel tervez útvonalat.
      x-accepts:
      - application/json
  /{dialect}/api/where/plan-access:
    get:
      operationId: planAccess
      parameters:
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      - description: "A dátum, amikor a tervezés indul (`arriveBy` esetén érkezik)."
        example: 2021-07-09
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: "Az idő, amikor a tervezés indul (`arriveBy` esetén érkezik)."
        example: 695
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      - description: "Az indulási hely adatai `név::hely` formában. A `név` az adott\
          \ hely tetszőleges neve, amely az útiterv kiindulási pontjának lesz a neve\
          \ (`leg.from.name`). A `hely` lehet koordináta `lat,lon` formában, vagy\
          \ a geocoder API által visszaadott `vertex` azonosítója."
        example: "BKK Központi Ügyfélszolgálat::47.4985022,19.0551266"
        explode: true
        in: query
        name: fromPlace
        required: true
        schema:
          type: string
        style: form
      - description: "Az érkezési hely adatai `név::hely` formában. A `név` az adott\
          \ hely tetszőleges neve, amely az útiterv érkezési pontjának lesz a neve\
          \ (`leg.to.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a\
          \ geocoder API által visszaadott `vertex` azonosítója."
        example: Mechwart liget::BKK:CSF00195
        explode: true
        in: query
        name: toPlace
        required: true
        schema:
          type: string
        style: form
      - description: "A tervező milyen közlekedési módokat használjon. A kerékpár\
          \ kölcsönzés a `BICYCLE,WALK` paraméterekkel kapcsolható be."
        example: "TRANSIT,WALK"
        explode: false
        in: query
        name: mode
        required: true
        schema:
          items:
            $ref: '#/components/schemas/TraverseMode'
          type: array
        style: form
      - description: Az első járműre szállás előtt történjen-e jegyvásárlás.
        example: true
        explode: true
        in: query
        name: shouldBuyTickets
        required: false
        schema:
          type: boolean
        style: form
      - description: A válasz tartalmazza-e a járatok által érintett köztes megállókat
          is.
        example: true
        explode: true
        in: query
        name: showIntermediateStops
        required: false
        schema:
          type: boolean
        style: form
      - description: Érkezési időre tervezzünk-e a megadott `date` és `time` paraméterrel.
        example: true
        explode: true
        in: query
        name: arriveBy
        required: false
        schema:
          type: boolean
        style: form
      - description: Az összes járat alacsonypadlós legyen-e.
        example: false
        explode: true
        in: query
        name: wheelchair
        required: false
        schema:
          type: boolean
        style: form
      - description: "Kerékpáros háromszög módú tervezés esetén mennyire számít a\
          \ biztonság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor\
          \ összegével."
        example: 0.5
        explode: true
        in: query
        name: triangleSafetyFactor
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "Kerékpáros háromszög módú tervezés esetén mennyire számít az\
          \ útvonal síksága. 0 és 1 közötti szám, és 1-et kell kiadnia a másik ké\
          t faktor összegével."
        example: 0.0
        explode: true
        in: query
        name: triangleSlopeFactor
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "Kerékpáros háromszög módú tervezés esetén mennyire számít a\
          \ gyorsaság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor\
          \ összegével."
        example: 0.5
        explode: true
        in: query
        name: triangleTimeFactor
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: A kereső mire optimalizálja az útvonalakat.
        example: BEST
        explode: true
        in: query
        name: optimize
        required: false
        schema:
          default: BEST
          enum:
          - BEST
          - WALK
          - TRANSFERS
          type: string
        style: form
      - description: A séta sebességét meghatározó profil.
        example: MID
        explode: true
        in: query
        name: walkProfile
        required: false
        schema:
          $ref: '#/components/schemas/WalkProfile'
        style: form
      - description: Legfeljebb hány útvonal szerepeljen a válaszban.
        example: 5
        explode: true
        in: query
        name: numItineraries
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTripResponse'
          description: A megadott paraméterekkel tervez megállóba útvonalat.
      x-accepts:
      - application/json
  /{dialect}/api/where/references:
    get:
      operationId: getReferences
      parameters:
      - description: A szolgáltató ID-je.
        example: BKK
        explode: true
        in: query
        name: agencyId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A zavar ID-je.
        example: BKK_bkkinfo-81404
        explode: true
        in: query
        name: alertId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A járat ID-ja.
        example: BKK_3040
        explode: true
        in: query
        name: routeId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A megálló ID-ja.
        example: BKK_F00001
        explode: true
        in: query
        name: stopId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferencesMethodResponse'
          description: ID alapú referencia lekérdezés.
      x-accepts:
      - application/json
  /{dialect}/api/where/route-details-for-stop:
    get:
      operationId: getRouteDetailsForStop
      parameters:
      - description: A lekért megálló azonosítója.
        example: BKK_F01294
        explode: true
        in: query
        name: stopId
        required: false
        schema:
          type: string
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteDetailsForStopMethodResponse'
          description: A megállóhoz és a testvérmegállóihoz tartozó összes járattal
            tér vissza.
        "404":
          description: Ismeretlen megálló azonosító.
      x-accepts:
      - application/json
  /{dialect}/api/where/route-details:
    get:
      operationId: getRouteDetails
      parameters:
      - description: A járat ID-ja.
        example: BKK_3040
        explode: true
        in: query
        name: routeId
        required: true
        schema:
          type: string
        style: form
      - description: Az aktív zavarok lekéréséhez használt dátum. Alapértelmezett
          értéke az aktuális nap.
        example: 20210707
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: "Ha igaz, akkor az útvonalhoz tartozó kapcsolódó útvonalak is\
          \ szerepelnek a válaszban."
        example: false
        explode: true
        in: query
        name: related
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteDetailsMethodResponse'
          description: Visszaadja a megadott ID-val rendelkező járatot.
        "400":
          description: Rossz formátumú a `date` paraméter.
        "404":
          description: Az ID-hoz nem található járat.
      x-accepts:
      - application/json
  /{dialect}/api/where/schedule-for-stop:
    get:
      operationId: getScheduleForStop
      parameters:
      - description: A releváns megállók azonosítói.
        example: "BKK_F01294,BKK_F01294"
        explode: true
        in: query
        name: stopId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A kért dátum.
        example: 20210708
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: Igaz esetén az érkezési és előrejelzett érkezési idők ki lesznek
          hagyva a válaszból.
        example: false
        explode: true
        in: query
        name: onlyDepartures
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleForStopOTPMethodResponse'
          description: Visszaadja a menetrendet az adott megállóhoz.
        "400":
          description: Nem sikerült beolvasni a dátumot.
        "404":
          description: Ismeretlen stopId.
      x-accepts:
      - application/json
  /{dialect}/api/where/search:
    get:
      operationId: search
      parameters:
      - description: "Szűrőfeltétel, amire illesztve vannak a zavarok, járatok és\
          \ megállók."
        example: BKK_bkkinfo-75694
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: A látható térkép középpontjának szélessgéi koordinátája.
        example: 47.4973131430789
        explode: true
        in: query
        name: lat
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: A látható térkép középpontjának hosszúsági koordinátája.
        example: 19.064639534671457
        explode: true
        in: query
        name: lon
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: A visszaadott elemek minimális száma.
        example: 5
        explode: true
        in: query
        name: minResult
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMethodResponse'
          description: "Visszaadja az olyan zavarokat, megállókat és járatokat, amelyek\
            \ tulajdonságai illeszkednek a megadott szűrőrfeltételre."
      x-accepts:
      - application/json
  /{dialect}/api/where/statistics:
    get:
      operationId: getStatistics
      parameters:
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
          description: "Egyszerű végpont hibakereséshez, ami egy \"OK\" választ ad\
            \ vissza."
      x-accepts:
      - application/json
  /{dialect}/api/where/stops-for-location:
    get:
      operationId: getStopsForLocation
      parameters:
      - description: A helyszín középpontjának szélessgéi koordinátája.
        example: 47.4973131430789
        explode: true
        in: query
        name: lat
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: A helyszín középpontjának hosszúsági koordinátája.
        example: 19.064639534671457
        explode: true
        in: query
        name: lon
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat\
          \ +/- latspan`)."
        example: 0.013365429598373169
        explode: true
        in: query
        name: latSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon\
          \ +/- lonSpan`)."
        example: 0.032126676908724505
        explode: true
        in: query
        name: lonSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési\
          \ terület a középpontól számított `radius` méter távolság mind a négy irá\
          nyban."
        example: 100
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: A válasz szűrésére használt keresési kifejezés.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: A visszaadott elemek minimális száma.
        example: 5
        explode: true
        in: query
        name: minResult
        required: false
        schema:
          default: 5
          format: int32
          type: integer
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopsForLocationResponse'
          description: "Egy megállólistát ad vissza az adott helyhez. Ha a lat vagy\
            \ a lon null, akkor az összes megálló bekerül a válaszba."
      x-accepts:
      - application/json
  /{dialect}/api/where/ticketing-locations:
    get:
      operationId: getTicketingData
      parameters:
      - description: "Csak azokat az elemeket adjuk vissza, amik módosultak az itt\
          \ megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ha nincs változá\
          s üres listákkal tér vissza. Elsőbbsége van a header paraméterrel szemben."
        example: 1625685137
        explode: true
        in: query
        name: ifModifiedSince
        required: false
        schema:
          default: -1
          format: int64
          type: integer
        style: form
      - description: "Ha meg van adva, akkor csak abban az esetben érkezik vissza\
          \ adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz.\
          \ A query paraméternek elsőbbsége van ezzel szemben."
        example: "Fri, 21 Jan 2022 09:48:43 GMT+01:00"
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time
          type: string
        style: simple
      - description: "Ha igaz, és az adat változott az `ifModifiedSince` query paramé\
          terben megadott időpont óta, akkor az összes adat visszaadásra kerül. Ha\
          \ nincs megadva csak a módosult elemek szerepelnek a válaszban. Csak az\
          \ `ifModifiedSince` query paraméterrel együtt szerepelhet, mivel az `If-Modified-Since`\
          \ fejléc minden esetben a teljes választ tartalmazza."
        example: true
        explode: true
        in: query
        name: full
        required: false
        schema:
          type: boolean
        style: form
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingMethodResponse'
          description: Visszaadja a jegyértékesítő helyeket és jegytípusokat.
        "304":
          description: Nem változott az adat az `ifModifiedSince` query vagy header
            paraméterben megadott időpont óta.
      x-accepts:
      - application/json
  /{dialect}/api/where/trip-details:
    get:
      operationId: getTripDetails
      parameters:
      - description: "Amennyiben meg van adva, azon menet érkezik a válaszban, amit\
          \ az adott jármű teljesít."
        example: BKK_4510
        explode: true
        in: query
        name: vehicleId
        required: false
        schema:
          type: string
        style: form
      - description: "Ha nincs kitöltve a járműazonosító, az itt megadott azonosí\
          tóval rendelkező menet lesz a válaszban."
        example: BKK_C23556161
        explode: true
        in: query
        name: tripId
        required: false
        schema:
          type: string
        style: form
      - description: "Ha nincs kitöltve a járműazonosító, ezen a dátumon lesz keresve\
          \ az adott azonosítójú menet."
        example: 20210708
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: "Akkor adunk vissza adatot, ha az módosult az itt megadott idő\
          bélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a\
          \ válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben."
        example: 1625685137
        explode: true
        in: query
        name: ifModifiedSince
        required: false
        schema:
          default: -1
          format: int64
          type: integer
        style: form
      - description: "Ha meg van adva, akkor csak abban az esetben érkezik vissza\
          \ adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz.\
          \ A query paraméternek elsőbbsége van ezzel szemben."
        example: "Fri, 21 Jan 2022 09:48:43 GMT+01:00"
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time
          type: string
        style: simple
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetailsOTPMethodResponse'
          description: "Visszaadja a részletes információit egy menetnek, ami az azonosí\
            tója és a dátum alapján, vagy az azt teljesítő jármű azonosítója alapjá\
            n lett lekérve."
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott
            időpont óta.
        "400":
          description: Nem sikerült beolvasni a dátumot.
        "404":
          description: "A következő esetek egyike: -Ismeretlen járműazonosító. -Ismereten\
            \ menetazonosító. -A kért menet nem közlekedik az adott napon."
      x-accepts:
      - application/json
  /{dialect}/api/where/vehicle-for-trip:
    get:
      operationId: getVehicleForTrip
      parameters:
      - description: A lekért menetek azonosítói.
        example: "BKK_C3135012112,BKK_C3135012044"
        explode: true
        in: query
        name: tripId
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A lekért menetrendi napok. Alapértelmezetten az aktuális nap.
        example: BKK_F01081
        explode: true
        in: query
        name: date
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Akkor adunk vissza adatot, ha az módosult az itt megadott idő\
          bélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a\
          \ válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben."
        example: 1625685137
        explode: true
        in: query
        name: ifModifiedSince
        required: false
        schema:
          default: -1
          format: int64
          type: integer
        style: form
      - description: "Ha meg van adva, akkor csak abban az esetben érkezik vissza\
          \ adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz.\
          \ A query paraméternek elsőbbsége van ezzel szemben."
        example: "Fri, 21 Jan 2022 09:48:43 GMT+01:00"
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time
          type: string
        style: simple
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleForTripMethodResponse'
          description: Visszatér a megadott menetekhez és menetrendi napokhoz tartozó
            járművekkel.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott
            időpont óta.
        "400":
          description: A menet azonosítókat és menetrendi napokat tartalmazó tömbök
            mérete nem egyezik.
        "404":
          description: Az egyik menet azonosítóhoz nem található menet.
      x-accepts:
      - application/json
  /{dialect}/api/where/vehicles-for-location:
    get:
      operationId: getVehiclesForLocation
      parameters:
      - description: "A válasz listát szűrő feltétel, amit tartalmaznia kell a já\
          rmű azonosítójának, rendszámának vagy a típusának."
        example: BKK_4510
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: A terület középpontjának szélességi koordinátája.
        example: 47.4973131430789
        explode: true
        in: query
        name: lat
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: A terület középpontjának hosszúsági koordinátája.
        example: 19.064639534671457
        explode: true
        in: query
        name: lon
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat\
          \ +/- latspan`)."
        example: 0.013365429598373169
        explode: true
        in: query
        name: latSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon\
          \ +/- lonSpan`)."
        example: 0.032126676908724505
        explode: true
        in: query
        name: lonSpan
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési\
          \ terület a középpontól számított `radius` méter távolság mind a négy irá\
          nyban."
        example: 100
        explode: true
        in: query
        name: radius
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: "Akkor adunk vissza adatot, ha az módosult az itt megadott idő\
          bélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a\
          \ válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben."
        example: 1625685137
        explode: true
        in: query
        name: ifModifiedSince
        required: false
        schema:
          default: -1
          format: int64
          type: integer
        style: form
      - description: "Ha meg van adva, akkor csak abban az esetben érkezik vissza\
          \ adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz.\
          \ A query paraméternek elsőbbsége van ezzel szemben."
        example: "Fri, 21 Jan 2022 09:48:43 GMT+01:00"
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time
          type: string
        style: simple
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehiclesForLocationMethodResponse'
          description: "Visszatér az adott területen található összes járművel. Ha\
            \ a `lat` vagy a `lon` null, az összes jármű benne lesz a válaszban."
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott
            időpont óta.
      x-accepts:
      - application/json
  /{dialect}/api/where/vehicles-for-route:
    get:
      operationId: getVehiclesForRoute
      parameters:
      - description: A lekért járatok azonosítói.
        example: "BKK_3040,BKK_3060"
        explode: true
        in: query
        name: routeId
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Tartalmazza-e a válasz a kapcsolódó járatokat is a referenciákban.
        example: false
        explode: true
        in: query
        name: related
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Akkor adunk vissza adatot, ha az módosult az itt megadott idő\
          bélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a\
          \ válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben."
        example: 1625685137
        explode: true
        in: query
        name: ifModifiedSince
        required: false
        schema:
          default: -1
          format: int64
          type: integer
        style: form
      - description: "Ha meg van adva, akkor csak abban az esetben érkezik vissza\
          \ adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz.\
          \ A query paraméternek elsőbbsége van ezzel szemben."
        example: "Fri, 21 Jan 2022 09:48:43 GMT+01:00"
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time
          type: string
        style: simple
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehiclesForRouteMethodResponse'
          description: A megadott járat azonosítókhoz tartozó járművekkel tér vissza.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott
            időpont óta.
        "404":
          description: A járat azonosítóhoz nem található járat.
      x-accepts:
      - application/json
  /{dialect}/api/where/vehicles-for-stop:
    get:
      operationId: getVehiclesForStop
      parameters:
      - description: A lekért megálló azonosítója.
        example: BKK_F01081
        explode: true
        in: query
        name: stopId
        required: true
        schema:
          type: string
        style: form
      - description: "Akkor adunk vissza adatot, ha az módosult az itt megadott idő\
          bélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a\
          \ válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben."
        example: 1625685137
        explode: true
        in: query
        name: ifModifiedSince
        required: false
        schema:
          default: -1
          format: int64
          type: integer
        style: form
      - description: "Ha meg van adva, akkor csak abban az esetben érkezik vissza\
          \ adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz.\
          \ A query paraméternek elsőbbsége van ezzel szemben."
        example: "Fri, 21 Jan 2022 09:48:43 GMT+01:00"
        explode: false
        in: header
        name: If-Modified-Since
        required: false
        schema:
          format: date-time
          type: string
        style: simple
      - description: A kliensalkalmazás verziója.
        example: 1.1.abc
        explode: true
        in: query
        name: appVersion
        required: false
        schema:
          type: string
        style: form
      - description: Az API verziója.
        example: 2
        explode: true
        in: query
        name: version
        required: false
        schema:
          $ref: '#/components/schemas/ApiVersion'
        style: form
      - description: Az API referenciáinak dialektusa.
        example: otp
        explode: false
        in: path
        name: dialect
        required: true
        schema:
          $ref: '#/components/schemas/Dialect'
        style: simple
      - description: "A referenciák típusát határozza meg. `true` vagy `COMPACT` eseté\
          n minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route\
          \ referenciák `description` mezője kihagyásra kerül."
        explode: false
        in: query
        name: includeReferences
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReferencesSchema'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehiclesForStopMethodResponse'
          description: "Visszaadja az összes járművet, ami olyan menetet teljesít,\
            \ ami tartalmazza a megadott megállót."
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott
            időpont óta.
        "404":
          description: A megálló azonosítóhoz nem található megálló.
      x-accepts:
      - application/json
components:
  schemas:
    ApiVersion:
      default: "2"
      enum:
      - "2"
      - "3"
      - "4"
      type: string
    Dialect:
      enum:
      - otp
      - mobile
      type: string
    ReferencesSchema:
      default: "true"
      enum:
      - "true"
      - "false"
      - compact
      - agencies
      - routes
      - trips
      - stops
      - alerts
      - stations
      type: string
    AlertSearchMethodResponse:
      example:
        currentTime: 1625747515786
        code: 200
        data:
          entry:
            alertIds:
            - BKK_bkkinfo-75694
            - BKK_bkkinfo-75694
            query: BKK_bkkinfo-75694
            stopIds:
            - BKK_CSF01024
            - BKK_CSF01024
            routeIds:
            - BKK_3040
            - BKK_3040
          references:
            alerts:
              key:
                modifiedTime: 1623333927
                start: 1623362400
                description:
                  someTranslation: English translation
                  translations:
                    en: English translation
                    hu: Magyar fordítás
                url:
                  someTranslation: English translation
                  translations:
                    en: English translation
                    hu: Magyar fordítás
                routes:
                - routeId: BKK_5100
                  stopIds:
                  - BKK_F01086
                  - BKK_F01086
                  header:
                    someTranslation: English translation
                    translations:
                      en: English translation
                      hu: Magyar fordítás
                  effectType: NO_SERVICE
                - routeId: BKK_5100
                  stopIds:
                  - BKK_F01086
                  - BKK_F01086
                  header:
                    someTranslation: English translation
                    translations:
                      en: English translation
                      hu: Magyar fordítás
                  effectType: NO_SERVICE
                stopIds:
                - BKK_F01086
                - BKK_F01086
                disableApp: true
                header:
                  someTranslation: English translation
                  translations:
                    en: English translation
                    hu: Magyar fordítás
                end: 1626040799
                startText:
                  someTranslation: English translation
                  translations:
                    en: English translation
                    hu: Magyar fordítás
                id: BKK_bkkinfo-79155
                endText:
                  someTranslation: English translation
                  translations:
                    en: English translation
                    hu: Magyar fordítás
                routeIds:
                - BKK_5100
                - BKK_5100
                timestamp: 1625747229
            routes:
              key:
                iconDisplayType: BOX
                color: FFD800
                description: Újbuda-központ M | Széll Kálmán tér M
                agencyId: BKK
                type: TRAM
                textColor: "000000"
                url: url
                iconDisplayText: "4"
                sortOrder: 10
                bikesAllowed: false
                style:
                  color: 009FE3
                  stop:
                    image: route-icon-M4
                    type: PRIORITY
                    colors:
                    - 4CA22F
                  vehicleIcon:
                    name: bus
                  icon:
                    text: "5"
                    type: BOX
                    textColor: FFFFFF
                id: BKK_3040
                shortName: "4"
                longName: longName
            trips:
              key:
                blockId: C31350_3040_5_15
                routeId: BKK_3040
                shapeId: BKK_C313504617
                tripShortName: "4"
                directionId: "1"
                wheelchairAccessible: true
                bikesAllowed: false
                id: BKK_C313504617
                serviceId: BKK_C31350K2HCPER011
                tripHeadsign: Széll Kálmán tér M
            agencies:
              key:
                phone: +36 1 2 345 678
                timezone: Europe/Budapest
                name: BKK
                id: BKK
                lang: hu
                url: https://www.bkk.hu
            stops:
              key:
                parentStationId: BKK_CS110452
                code: "110452"
                vertex: BKK:CSF01076
                description: description
                locationType: 0
                lon: 19.265759
                type: BUS
                stopColorType: BUS
                wheelchairBoarding: true
                alertIds:
                - BKK_bkkinfo-75685
                name: Nemzetközi Posta Kicserélő Központ
                locationSubType: "0"
                style:
                  image: route-icon-M4
                  type: PRIORITY
                  colors:
                  - 4CA22F
                id: BKK_110452
                routeIds:
                - BKK_2005
                lat: 47.427631
                platformCode: "0"
                direction: "-47"
          class: entryWithReferences
          limitExceeded: false
        text: OK
        version: 3
        status: OK
      properties:
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
        status:
          $ref: '#/components/schemas/Status'
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        text:
          description: A válasz szövege.
          example: OK
          type: string
        data:
          $ref: '#/components/schemas/TransitEntryWithReferencesTransitSearch'
      type: object
    EffectType:
      description: A zavar hatásának típusa.
      enum:
      - NO_SERVICE
      - WARNING
      type: string
    MobileTransitReferences:
      properties:
        agencies:
          description: Szolgáltatók referenciáinak listája.
          items:
            $ref: '#/components/schemas/TransitAgency'
          type: array
        routes:
          description: Járatok referenciáinak listája.
          items:
            $ref: '#/components/schemas/TransitRoute'
          type: array
        stops:
          description: Megállók referenciáinak listája.
          items:
            $ref: '#/components/schemas/TransitStop'
          type: array
        trips:
          description: Menetek referenciáinak listája.
          items:
            $ref: '#/components/schemas/TransitTrip'
          type: array
        alerts:
          description: Zavarok referenciáinak listája.
          items:
            $ref: '#/components/schemas/TransitAlert'
          type: array
      type: object
    OTPTransitReferences:
      example:
        alerts:
          key:
            modifiedTime: 1623333927
            start: 1623362400
            description:
              someTranslation: English translation
              translations:
                en: English translation
                hu: Magyar fordítás
            url:
              someTranslation: English translation
              translations:
                en: English translation
                hu: Magyar fordítás
            routes:
            - routeId: BKK_5100
              stopIds:
              - BKK_F01086
              - BKK_F01086
              header:
                someTranslation: English translation
                translations:
                  en: English translation
                  hu: Magyar fordítás
              effectType: NO_SERVICE
            - routeId: BKK_5100
              stopIds:
              - BKK_F01086
              - BKK_F01086
              header:
                someTranslation: English translation
                translations:
                  en: English translation
                  hu: Magyar fordítás
              effectType: NO_SERVICE
            stopIds:
            - BKK_F01086
            - BKK_F01086
            disableApp: true
            header:
              someTranslation: English translation
              translations:
                en: English translation
                hu: Magyar fordítás
            end: 1626040799
            startText:
              someTranslation: English translation
              translations:
                en: English translation
                hu: Magyar fordítás
            id: BKK_bkkinfo-79155
            endText:
              someTranslation: English translation
              translations:
                en: English translation
                hu: Magyar fordítás
            routeIds:
            - BKK_5100
            - BKK_5100
            timestamp: 1625747229
        routes:
          key:
            iconDisplayType: BOX
            color: FFD800
            description: Újbuda-központ M | Széll Kálmán tér M
            agencyId: BKK
            type: TRAM
            textColor: "000000"
            url: url
            iconDisplayText: "4"
            sortOrder: 10
            bikesAllowed: false
            style:
              color: 009FE3
              stop:
                image: route-icon-M4
                type: PRIORITY
                colors:
                - 4CA22F
              vehicleIcon:
                name: bus
              icon:
                text: "5"
                type: BOX
                textColor: FFFFFF
            id: BKK_3040
            shortName: "4"
            longName: longName
        trips:
          key:
            blockId: C31350_3040_5_15
            routeId: BKK_3040
            shapeId: BKK_C313504617
            tripShortName: "4"
            directionId: "1"
            wheelchairAccessible: true
            bikesAllowed: false
            id: BKK_C313504617
            serviceId: BKK_C31350K2HCPER011
            tripHeadsign: Széll Kálmán tér M
        agencies:
          key:
            phone: +36 1 2 345 678
            timezone: Europe/Budapest
            name: BKK
            id: BKK
            lang: hu
            url: https://www.bkk.hu
        stops:
          key:
            parentStationId: BKK_CS110452
            code: "110452"
            vertex: BKK:CSF01076
            description: description
            locationType: 0
            lon: 19.265759
            type: BUS
            stopColorType: BUS
            wheelchairBoarding: true
            alertIds:
            - BKK_bkkinfo-75685
            name: Nemzetközi Posta Kicserélő Központ
            locationSubType: "0"
            style:
              image: route-icon-M4
              type: PRIORITY
              colors:
              - 4CA22F
            id: BKK_110452
            routeIds:
            - BKK_2005
            lat: 47.427631
            platformCode: "0"
            direction: "-47"
      properties:
        agencies:
          additionalProperties:
            $ref: '#/components/schemas/TransitAgency'
          description: Szolgáltatók referenciáinak listája.
          type: object
        routes:
          additionalProperties:
            $ref: '#/components/schemas/TransitRoute'
          description: Járatok referenciáinak listája.
          type: object
        stops:
          additionalProperties:
            $ref: '#/components/schemas/TransitStop'
          description: Megállók referenciáinak listája.
          type: object
        trips:
          additionalProperties:
            $ref: '#/components/schemas/TransitTrip'
          description: Menetek referenciáinak listája.
          type: object
        alerts:
          additionalProperties:
            $ref: '#/components/schemas/TransitAlert'
          description: Zavarok referenciáinak listája.
          type: object
      type: object
    Status:
      description: A válasz státusza.
      enum:
      - NOT_MODIFIED
      - OK
      - UNKNOWN_ERROR
      - NOT_FOUND
      - INVALID_VALUE
      - NOT_OPERATING
      - OUTSIDE_BOUNDS
      - PATH_NOT_FOUND
      - NO_TRANSIT_TIMES
      - REQUEST_TIMEOUT
      - BOGUS_PARAMETER
      - TOO_CLOSE
      - LOCATION_NOT_ACCESSIBLE
      - MISSING_MODE
      - ERROR_NO_GRAPH
      - PLANNER_SERVICE_UNAVAILABLE
      - ERROR_VEHICLE_LOCATION_SERVICE
      - ERROR_BIKE_RENTAL_SERVICE
      - ERROR_TICKETING_SERVICE
      - ERROR_TRANSIT_INDEX_SERVICE
      - MOVED_TEMPORARILY
      example: OK
      type: string
    TransitAgency:
      description: Szolgáltatók referenciáinak listája.
      example:
        phone: +36 1 2 345 678
        timezone: Europe/Budapest
        name: BKK
        id: BKK
        lang: hu
        url: https://www.bkk.hu
      properties:
        id:
          description: A szolgáltató azonosítója.
          example: BKK
          type: string
        name:
          description: A szolgáltató neve.
          example: BKK
          type: string
        url:
          description: A szolgáltató linkje.
          example: https://www.bkk.hu
          type: string
        timezone:
          description: A szolgáltató időzónája.
          example: Europe/Budapest
          type: string
        lang:
          description: A szolgáltató nyelve.
          example: hu
          type: string
        phone:
          description: A szolgáltató telefonszáma.
          example: +36 1 2 345 678
          type: string
      type: object
    TransitAlert:
      description: Zavarok referenciáinak listája.
      example:
        modifiedTime: 1623333927
        start: 1623362400
        description:
          someTranslation: English translation
          translations:
            en: English translation
            hu: Magyar fordítás
        url:
          someTranslation: English translation
          translations:
            en: English translation
            hu: Magyar fordítás
        routes:
        - routeId: BKK_5100
          stopIds:
          - BKK_F01086
          - BKK_F01086
          header:
            someTranslation: English translation
            translations:
              en: English translation
              hu: Magyar fordítás
          effectType: NO_SERVICE
        - routeId: BKK_5100
          stopIds:
          - BKK_F01086
          - BKK_F01086
          header:
            someTranslation: English translation
            translations:
              en: English translation
              hu: Magyar fordítás
          effectType: NO_SERVICE
        stopIds:
        - BKK_F01086
        - BKK_F01086
        disableApp: true
        header:
          someTranslation: English translation
          translations:
            en: English translation
            hu: Magyar fordítás
        end: 1626040799
        startText:
          someTranslation: English translation
          translations:
            en: English translation
            hu: Magyar fordítás
        id: BKK_bkkinfo-79155
        endText:
          someTranslation: English translation
          translations:
            en: English translation
            hu: Magyar fordítás
        routeIds:
        - BKK_5100
        - BKK_5100
        timestamp: 1625747229
      properties:
        id:
          description: A zavar azonosítója.
          example: BKK_bkkinfo-79155
          type: string
        start:
          description: A zavar kezdő időpontja másodpercben.
          example: 1623362400
          format: int64
          type: integer
        end:
          description: A zavar végének időpontja másodpercben.
          example: 1626040799
          format: int64
          type: integer
        timestamp:
          description: A zavar időbélyege másodpercben.
          example: 1625747229
          format: int64
          type: integer
        modifiedTime:
          description: A zavar utolsó módosításának időpontja másodpercben.
          example: 1623333927
          format: int64
          type: integer
        stopIds:
          description: A zavar által érintett megállók azonosítóinak listája.
          example:
          - BKK_F01086
          - BKK_F01086
          items:
            description: A zavar által érintett megállók azonosítóinak listája.
            example: "[\"BKK_F01086\",\"BKK_F01086\"]"
            type: string
          type: array
        routeIds:
          description: A zavar által érintett járatok azonosítóinak listája.
          example:
          - BKK_5100
          - BKK_5100
          items:
            description: A zavar által érintett járatok azonosítóinak listája.
            example: "[\"BKK_5100\",\"BKK_5100\"]"
            type: string
          type: array
        url:
          $ref: '#/components/schemas/TranslatedString'
        header:
          $ref: '#/components/schemas/TranslatedString'
        description:
          $ref: '#/components/schemas/TranslatedString'
        disableApp:
          description: A zavar hatására használhatatlan lesz-e az alkalmazás.
          nullable: true
          type: boolean
        startText:
          $ref: '#/components/schemas/TranslatedString'
        endText:
          $ref: '#/components/schemas/TranslatedString'
        routes:
          description: A zavar által érintett járatok listája.
          items:
            $ref: '#/components/schemas/TransitAlertRoute'
          type: array
      type: object
    TransitAlertRoute:
      description: A zavar által érintett járatok listája.
      example:
        routeId: BKK_5100
        stopIds:
        - BKK_F01086
        - BKK_F01086
        header:
          someTranslation: English translation
          translations:
            en: English translation
            hu: Magyar fordítás
        effectType: NO_SERVICE
      properties:
        routeId:
          description: A zavar által érintett járat azonosítója.
          example: BKK_5100
          type: string
        stopIds:
          description: A zavar által érintett megállók azonosítóinak listája a járaton.
          example:
          - BKK_F01086
          - BKK_F01086
          items:
            description: A zavar által érintett megállók azonosítóinak listája a járaton.
            example: "[\"BKK_F01086\",\"BKK_F01086\"]"
            type: string
          type: array
        header:
          $ref: '#/components/schemas/TranslatedString'
        effectType:
          $ref: '#/components/schemas/EffectType'
      type: object
    TransitEntryWithReferencesTransitSearch:
      description: A válasz adat.
      example:
        entry:
          alertIds:
          - BKK_bkkinfo-75694
          - BKK_bkkinfo-75694
          query: BKK_bkkinfo-75694
          stopIds:
          - BKK_CSF01024
          - BKK_CSF01024
          routeIds:
          - BKK_3040
          - BKK_3040
        references:
          alerts:
            key:
              modifiedTime: 1623333927
              start: 1623362400
              description:
                someTranslation: English translation
                translations:
                  en: English translation
                  hu: Magyar fordítás
              url:
                someTranslation: English translation
                translations:
                  en: English translation
                  hu: Magyar fordítás
              routes:
              - routeId: BKK_5100
                stopIds:
                - BKK_F01086
                - BKK_F01086
                header:
                  someTranslation: English translation
                  translations:
                    en: English translation
                    hu: Magyar fordítás
                effectType: NO_SERVICE
              - routeId: BKK_5100
                stopIds:
                - BKK_F01086
                - BKK_F01086
                header:
                  someTranslation: English translation
                  translations:
                    en: English translation
                    hu: Magyar fordítás
                effectType: NO_SERVICE
              stopIds:
              - BKK_F01086
              - BKK_F01086
              disableApp: true
              header:
                someTranslation: English translation
                translations:
                  en: English translation
                  hu: Magyar fordítás
              end: 1626040799
              startText:
                someTranslation: English translation
                translations:
                  en: English translation
                  hu: Magyar fordítás
              id: BKK_bkkinfo-79155
              endText:
                someTranslation: English translation
                translations:
                  en: English translation
                  hu: Magyar fordítás
              routeIds:
              - BKK_5100
              - BKK_5100
              timestamp: 1625747229
          routes:
            key:
              iconDisplayType: BOX
              color: FFD800
              description: Újbuda-központ M | Széll Kálmán tér M
              agencyId: BKK
              type: TRAM
              textColor: "000000"
              url: url
              iconDisplayText: "4"
              sortOrder: 10
              bikesAllowed: false
              style:
                color: 009FE3
                stop:
                  image: route-icon-M4
                  type: PRIORITY
                  colors:
                  - 4CA22F
                vehicleIcon:
                  name: bus
                icon:
                  text: "5"
                  type: BOX
                  textColor: FFFFFF
              id: BKK_3040
              shortName: "4"
              longName: longName
          trips:
            key:
              blockId: C31350_3040_5_15
              routeId: BKK_3040
              shapeId: BKK_C313504617
              tripShortName: "4"
              directionId: "1"
              wheelchairAccessible: true
              bikesAllowed: false
              id: BKK_C313504617
              serviceId: BKK_C31350K2HCPER011
              tripHeadsign: Széll Kálmán tér M
          agencies:
            key:
              phone: +36 1 2 345 678
              timezone: Europe/Budapest
              name: BKK
              id: BKK
              lang: hu
              url: https://www.bkk.hu
          stops:
            key:
              parentStationId: BKK_CS110452
[...]
